!!!
%html
  %head
    %title GNOME Human Interface Guidelines
    = stylesheets :hig, :media => "screen"
    %meta{:name=>"viewport", :content=> "width=device-width, initial-scale=1, maximum-scale=1"}
  %body
    .contain
      %section.sidebar
        %a{:href => '/', :class => 'smalllogo'}
          =img "gnome-logo.png", :class => 'foot'
          .punchline Human Interface Guidelines
        .menu
          = partial('menu')
      %article.main
        = yield
    %section.menumobile
      = partial('menu')
    %section.footer
      = partial('footer')
