!!!
%html
  %head
    %title StaticMatic
    = stylesheets :hig, :media => "screen"
  %body
    .contain
      %section.menu2
        = partial('menu')
      %section.main2
        = yield
    %section.menumobile
      = partial('menu')
    %section.footer
      = partial('footer')
