!!!
%html
  %head
    %title StaticMatic
    = stylesheets :general, :media => "screen"
    = stylesheets :mobile, :media => "only screen and (max-width: 480px)"
    = stylesheets :desktop, :media => "screen and (min-width: 481px)"
  %body
    = yield
  = partial('footer')
