!!!
%html
  %head
    %title GNOME Human Interface Guidelines
    = stylesheets :hig, :media => "screen"
    = javascripts('jquery', 'hig')
    %meta{:name=>"viewport", :content=> "width=device-width, initial-scale=1, maximum-scale=1"}
  %body
    .gnomelink
      %div
        %a{:href => 'http://www.gnome.org'} GNOME.org
    .logo
      =img "gnome-logo.png", :class => 'foot'
      .punchline Human Interface Guidelines
    .contain      
      %aside.sidebar
        .menu
          = partial('menu')
      %article.main
        = yield
    %section.menumobile
      = partial('menu')
    %section.footer
      = partial('footer')
