!!!
%html
  %head
    %title GNOME Human Interface Guidelines
    = stylesheets :hig, :media => "screen"
  %body
    .logo
      =img "gnome-logo.png", :class => 'logo'
      %h2.punchline Human Interface Guidelines
    .contain      
      %section.menu
        = partial('menu')
      %section.main
        = yield
    %section.menumobile
      = partial('menu')
    %section.footer
      = partial('footer')
