!!!
%html
  %head
    %title GNOME Human Interface Guidelines
    = stylesheets :hig, :media => "screen"
  %body
    .gnomelink
      %a{:href => 'http://www.gnome.org'} GNOME.org
    .logo
      =img "gnome-logo.png", :class => 'foot'
      .punchline Human Interface Guidelines
    .contain      
      %section.sidebar
        .menu
          = partial('menu')
      %section.main
        = yield
    %section.menumobile
      = partial('menu')
    %section.footer
      = partial('footer')
